@model FedPayArchiver.EFModels.ArchHpoSummary
@{
    ViewData["Title"] = "Purchase Order Query";
}

<html>
    <head>
        <style>
            p {
                border: 1px solid powderblue;
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <h2>Purchase Order Query Input</h2>

        <form asp-action="Index">
            <p>
                &nbsp;&nbsp;Please enter search criteria and click Search button <br />
                &nbsp;&nbsp;Note if both criteria are enterd search results will be based on the FEDPAY PO#<br /> <br /> <br />
                &nbsp;&nbsp;FEDPAY PO#: <input asp-for="HposPoNo" placeholder="Type in the FEDPAY PO#" /><br>
                <br>
                &nbsp;FAS PO#: <input asp-for="HposFssPoNo" placeholder="Type in the FAS PO#" /><br>
                <br>
                <input type="submit" value="Search">
            </p>
        </form>
    </body>
</html>