@model FedPayArchiver.EFModels.ArchHpoSummary
@{
    ViewData["Title"] = "Purchase Order Query";
}

<h2>Purchase Order Query Input</h2>

<form asp-action="Index"  >
    Please enter search criteria and click Search button <br /> 
    Note if both criteria are enterd search results will be based on the FEDPAY PO#<br /> <br /> <br />
    FEDPAY PO#: <input asp-for="HposPoNo" placeholder="Type in the FEDPAY PO#" /><br>
    <br>
    Invoice#: <input asp-for="HposFssPoNo" placeholder="Type in the FAS PO#" /><br>
    <br>
    <input type="submit" value="Search">
</form>

